<section>
<h1 class="content-title">
{{- .Title -}}{{- if .Draft -}}&nbsp;:: Draft{{- end -}}
</h1>
{{- if .Params.subtitle -}}
<p class=subtitle>{{ .Params.subtitle }}</p>
{{- end -}}

{{- if and (.IsPage) (.Params.meta) -}}
<span class="content-meta">

  {{- range .Params.tags -}}
  <a href="{{ "/tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>&nbsp;
  {{- end -}}

  {{- if .Params.showauthor -}}
  <p class="author">{{ .Params.author }}</p>
  {{- end -}}

  {{- if not .Params.hidedate -}}
  <p class="date">{{ .Date.Format "January 2, 2006" }}</p>
  {{- end -}}

  {{- if not .Site.Params.hidereadtime -}}
  <span>{{ .ReadingTime }} min read&nbsp;</span>
  {{- end -}}
</span>
{{- end -}}
</section>
